body {
    font-family: sans-serif;
}

.header {
    font-size: 5em;
    text-align: center;
}

.pokemon-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    transition: transform 0.5s;
}

.pokemon-card-flash {
    animation: flash 1s;
    /* can add infinite to make it loop */
}

.pokemon-card:hover {
    transform: scale(1.02);
    border: 2px solid dodgerblue;
    cursor: pointer;
}

.pokemon-card>img {
    height: 420px;
    width: 420px;
}

#container {
    display: flex;
    justify-content: center;
    gap: 1%;
}

#roster {
    display: flex;
    justify-content: center;
}

div[id^="pokemon-"] {
    height: 100px;
    width: 100px;
    border: 1px solid #ccc;
}

.roster-img {
    height: 80px;
    width: 80px;
    margin: 7 auto;
    display: block;
}

@keyframes flash {
    0% {
        background-color: green;
        /* can add rotate */
    }

    50% {
        background-color: blue;
    }

    100% {
        background-color: orange;
    }
}